.container{
  border: solid;
  padding: 1rem;
}

.row{
  border: solid red;
  padding: 1rem;
}

.col{
  border: solid blue;
  padding: 1rem;
  margin: 1rem;
}

.form-container{
  border: solid gray thin;
  border-radius: 1rem;
  padding: 1rem
}

h1{
  text-align: center;
  padding: 1rem;
}

.input-group-text{
  width: 10rem;
  display: flex;
  justify-content: center;
  border-radius: 0.25rem 0px 0px 0.25rem;
}

