<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-container">
        <h1>Base Numbers</h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Purchase Price</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Mortgage</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Rent</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Expenses</span>
          </div>
          <input type="text" class="form-control" placeholder="Generally 50% of rent">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Flip Repair Costs</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">ARV Value</span>
          </div>
          <input type="text" class="form-control">
        </div>
        <div class="form-control" style="background-color: #E9ECEF">
          <span style="display: flex; justify-content: end">Total: {{290000 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>

      </div>
    </div>
  </div>
</div>
